body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    background-color: #343a40;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header input {
    width: 50%;
    padding: 10px;
    margin-top: 10px;
    font-size: 16px;
}

main {
    padding: 20px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.product-card img {
    max-width: 100%;
    border-radius: 5px;
}

.product-card h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-card .description {
    font-size: 1em;
    color: #555;
    margin: 10px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 3em; /* limit description height */
    transition: max-height 0.3s ease;
}

.product-card .description.expanded {
    max-height: 100%; /* allow description to expand */
}

.product-card .toggle-description {
    display: block;
    margin: 10px auto;
    cursor: pointer;
    color: #007bff;
    background: none;
    border: none;
    padding: 0;
    font-size: 0.9em;
}

.product-card .rating {
    font-size: 1.2em;
    color: #f39c12;
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-card .stars {
    display: inline-block;
    background-image: url(https://api.iconify.design/material-symbols:star-rounded.svg?color=%23f0ad4e);
    background-repeat: space no-repeat;
    background-size: 1.4rem;
    height: 1.4rem;
    width: calc(var(--star-rev, 0) * 1.4rem);
    margin-right: 0.5rem;
}

.product-card .rating span {
    font-weight: bold;
}

.product-card a {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #ff9900; /* Amazon orange */
    color: #000; /* Black text */
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, color 0.3s;
}

.product-card a:hover {
    background-color: #e68a00; /* Darker Amazon orange */
    color: #000; /* Black text */
}
